<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
